{% extends "base.html" %}
{% block title %}
Simple Forms Example
{% endblock %}
{% block body %}
<h2>Simple Contacts Form Example</h2>
<form action="/contacts/">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="John"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Doe"><br><br>
  <input type="submit" value="Submit">
</form>
<p>If you click the "Submit" button, the form-data will be sent to a page called "contacts".</p>
{% endblock %}
